{% extends 'base.admin.html.twig' %}

{% block title %}
	liste de l'ensemble des inscriptis sur unz-doc
{% endblock %}

{% block titre %}
	liste de l'ensemble des inscriptis sur unz-doc
{% endblock %}

{% block boutons %}

{% endblock %}

{% block body %}


            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <div class="table-responsive">
                    <table class="table table">
                      <thead>
                        <tr>
                          <th>Nom Prénom</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for user in users %}
                        <tr>
                          <td><strong>{{ user.nomPrenom }}</strong></td>
                          <td>
                            <a href="{{ path("app_admin_roles_user_detail", {"idUser": user.id}) }}" class="btn btn-outline-dark">Détails</a>
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                </div>
              </div>
            </div>

{% endblock %}
