{% extends 'base.main.html.twig' %}

{% block title %}
	Nouveau mot de passe
{% endblock %}

{% block navbar %}
		<li><a href="{{ path("app_main_page_principal") }}">Accueil</a></li>
{% endblock %}

{% block intro %}
	<div class="container">
		<div class="card p-4">
			<h1>Nouveau mot de passe</h1>
			<div class="card p-3">
				{{ form(nouveauMotDePasseForm) }}
			</div>
		</div>
	{% endblock %}
