{% extends 'base.user.html.twig' %}

{% block title %}
	Modification du mot de passe de mon compte
{% endblock %}

{% block titre %}
	Edition du mot de passe de mon compte
{% endblock %}

{% block description %}
	NB : il est conseilé de choisir un mot de passe simple a retenir.
{% endblock %}

{% block body %}

	<section class="section profile">

		<div class="card p-1">
			<h4>Mot de passe actuel:
				<strong>{{ app.user.sauvegardeDuMotDePasse }}</strong>
			</h4>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<h4>Edition du mot de passe:</h4>

				<div class="card p-3">
					{{ form(form) }}
					</div>
					<!-- Material tab card end -->
				</div>
			</div>

		</div>
	</section>
{% endblock %}
