{% extends 'base.user.html.twig' %}

{% block title %}
	Modification de mon profil
{% endblock %}

{% block titre %}
	Edition de mon profil
{% endblock %}

{% block description %}

{% endblock %}

{% block body %}

	<section class="section profile">


		<div class="row">
			<div
				class="col-sm-12">
					<div class="card p-3">
						{{ form(form) }}
					</div>
				<!-- Material tab card end -->
			</div>
		</div>

	</div>
</section>{% endblock %}
