{% extends 'base.user.html.twig' %}

{% block title %}
	Modification du mot secret de mon compte
{% endblock %}

{% block titre %}
	Edition du mot secret de mon compte
{% endblock %}

{% block description %}
	NB : il est conseilé de choisir un mot de secret simple a retenir, afin de facilité la recuperation de votre compte en cas de perte de mot de passe
{% endblock %}

{% block body %}

	<section class="section profile">

		<div class="card p-1">
						<h4>Mot secret actuel: <strong>{{ app.user.motSecret }}</strong></h4>
					</div>

		<div class="row">
			<div
				class="col-sm-12">
					
		<h4>Edition du mot secret</h4>
					<div class="card p-3">
						{{ form(form) }}
					</div>
				<!-- Material tab card end -->
			</div>
			<h4><em><strong>NB : </strong> Le mot secret est très important, il vous servira a recuperé votre compte en cas de perte de mot de passe ou un quelconque probleme.</em></h4>
		<div>
			<ul>
				<li>Si Vous rencontré un problème de connexion,</li>
				<li>Si vous vous rappelez plus de mot de passe,</li>
				<li>Si vous avez un quelconque problème avec votre compte</li>
			</ul>
			<h5><em>Veuillez contactez les administrateurs Unz-doc par email, par sms, par whatsApp ou par appel, votre problème sera resolu. vous trouverez sur la page d'acceuil des contacts</em></h5>
		</div>
		</div>

	</div>
</section>{% endblock %}