{% extends 'base.admin.html.twig' %}

{% block title %}
	Edition du filière {{ licence.nom }}
{% endblock %}

{% block titre %}
	Edition du filière : <strong>{{ licence.nom }}</strong>
{% endblock %}

{% block boutons %}
	<a href="{{ path("app_admin_licence_detail", {"idDepartement": departement.id, "idFiliere": filiere.id, "idLicence": licence.id}) }}" title="Cliquez ici pour revenir en arrière" class="btn btn-outline-primary align-items-center">
			<i class="mdi mdi-reply-all  "></i>
			Retour</a>
{% endblock %}

{% block body %}

	<div class="card p-3">
		{{ form(formLicence) }}
	</div>

{% endblock %}
