{% extends 'base.admin.html.twig' %}

{% block title %}
	Edition du mot de passe de mon compte
{% endblock %}

{% block titre %}
Edition du mot de passe de mon compte
{% endblock %}

{% block boutons %}
	<a href="{{ path("app_admin_compte_parametre_dashboard") }}" class="btn btn-outline-primary align-items-center">
		<i class="mdi mdi-arrow-left "></i>Retour
	</a>
{% endblock %}

{% block body %}
	<div class="container">
	<h4>Mon actuel mot de passe est : <strong>{{ app.user.sauvegardeDuMotDePasse }}</strong></h4>
		<div class="card p-3">
			{{ form(formEditionPassword) }}
		</div>
	</div>

{% endblock %}
