{% extends 'base.admin.html.twig' %}

{% block title %}
	Edition de mon mot secret
{% endblock %}

{% block titre %}
	Edition des mon mot secret
{% endblock %}

{% block boutons %}
	<a href="{{ path("app_admin_compte_parametre_dashboard") }}" class="btn btn-outline-primary align-items-center">
		<i class="mdi mdi-arrow-left "></i>Retour
	</a>
{% endblock %}

{% block body %}
	<div class="container">
		<h4>Mon actuel mot secret actuel : <strong>{{ app.user.motSecret }}</strong>. </h4>
		<div class="content">
			<div class="row">
				<div class="col-lg-12">
					<div class="card p-3 mb-3">
						{{ form(formEditionMotSecret) }}
						</div>
					</div>
				</div>
			</div>
		<h4><em><strong>NB : </strong> Le mot secret est très important, il vous servira a recuperé votre compte en cas de perte de mot de passe ou un quelconque probleme.</em></h4>
		<div>
			<ul>
				<li>Si Vous rencontré un problème de connexion,</li>
				<li>Si vous vous rappelez plus de mot de passe,</li>
				<li>Si vous avez un quelconque problème avec votre compte</li>
			</ul>
			<h5>Veuillez contactez un super administrateur ou <em><strong>le super administrateur</strong> </em>  de Unz-doc par email, par sms, par whatsApp ou par appel, votre problème sera resolu. vous trouverez sur la page d'acceuil dans la partie documentation les contacts;</h5>
		</div>
		</div>

	{% endblock %}
