{% extends 'base.admin.html.twig' %}

{% block title %}
	Edition du mot de passe de 
	{{ etudiant}}
{% endblock %}

{% block titre %}
	Edition du mot de passe de 
	{{ etudiant}}<strong></strong>
{% endblock %}

{% block boutons %}
	<a href="{{ path("app_admin_roles_etudiant_detail", {"idEtudiant": etudiant.id}) }}" title="Cliquez ici pour revenir en arrière" class="btn btn-outline-primary align-items-center">
		<i class="mdi mdi-reply-all"></i>
		Retour</a>
{% endblock %}

{% block body %}

	<div class="card p-3">
		{{ form(formPasswordEtudiant) }}
	</div>

{% endblock %}
