{% extends 'base.admin.html.twig' %}

{% block title %}
	Ajout d'une année univesitaire à la licence {{ licence.nom }}
{% endblock %}

{% block titre %}
	Ajout d'une année univesitaire à la licence <strong>{{ licence.nom }}</strong>
{% endblock %}

{% block boutons %}
	<a href="{{ path("app_admin_annee_liste", {"idDepartement": departement.id, "idFiliere": filiere.id, "idLicence": licence.id, "idOption": option.id}) }}" title="Cliquez ici pour revenir en arrière" class="btn btn-outline-primary align-items-center">
			<i class="mdi mdi-reply-all  "></i>
			Retour</a>
{% endblock %}

{% block body %}

	<div class="card p-3">
		{{ form(formAnnee) }}
	</div>

{% endblock %}
