{% extends 'base.admin.html.twig' %}

{% block title %}
	Ajout de filière pour le departement {{ departement.nom }}
{% endblock %}

{% block titre %}
	Ajout de filière pour le departement <strong>{{ departement.nom }}</strong>
{% endblock %}

{% block boutons %}
	<a href="{{ path("app_admin_filiere_liste", {"idDepartement": departement.id}) }}" class="btn btn-outline-primary align-items-center">
			<i class="mdi mdi-reply-all  "></i>
			Retour</a>
{% endblock %}

{% block body %}

	<div class="card p-3">
		{{ form(formFiliere) }}
	</div>

{% endblock %}
