{% extends 'base.admin.html.twig' %}

{% block title %}
	Detail du Developpeur de unz-doc
{% endblock %}

{% block titre %}
	Detail du Developpeur de unz-doc  <strong></strong>
{% endblock %}

{% block boutons %}

{% endblock %}

{% block body %}

            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                      <div class="card-body">
                          <h4 class="card-title"> </h4>
                            {# <h5 class="card-title">{{examen.status}}</h5> #}

                            <!-- List group With Icons -->
                            <ul class="list-group">
                              <li class="list-group-item"><i class="bi bi-star me-1 text-success"></i>Nom Prénom: Sabidani Yentem Elisée</li>
                              <li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i>numéro de téléphone: 56885237 </li>
                              <li class="list-group-item"><i class="bi bi-check-circle me-1 text-danger"></i>Email: esabidani@gmail.com</li>
                              <li class="list-group-item"><i class="bi bi-check-circle me-1 text-danger"></i>Ine: N00290420191</li>
                              <li class="list-group-item"><i class="bi bi-check-circle me-1 text-danger"></i>promotion: 2019</li>
                              <li class="list-group-item"><i class="bi bi-check-circle me-1 text-danger"></i>Compte git: </li>
                            </ul><!-- End List group With Icons -->

                          </div>
                        </div>
					</div>
					</div>
				</div>

{% endblock %}
