{% extends 'base.admin.html.twig' %}

{% block title %}
	Ajout un administrateur à unz-doc
{% endblock %}

{% block titre %}
	Ajout un administrateur à unz-doc
{% endblock %}

{% block boutons %}
	<a href="{{ path("app_admin_roles_admin_liste") }}" title="Cliquez ici pour revenir en arrière" class="btn btn-outline-primary align-items-center">
			<i class="mdi mdi-reply-all  "></i>
			Retour</a>
{% endblock %}

{% block body %}

	<div class="card p-3">
		{{ form(formAdmin) }}
	</div>

{% endblock %}
