{% extends 'base.admin.html.twig' %}

{% block title %}
	Edition de l'administrateur {{ admin.nomPrenom }}
{% endblock %}

{% block titre %}
	Edition de l'administrateur {{ admin.nomPrenom }}<strong></strong>
{% endblock %}

{% block boutons %}
	<a href="{{ path("app_admin_roles_admin_detail", {"idAdmin": admin.id}) }}" title="Cliquez ici pour revenir en arrière" class="btn btn-outline-primary align-items-center">
			<i class="mdi mdi-reply-all"></i>
			Retour</a>
{% endblock %}

{% block body %}

	<div class="card p-3">
		{{ form(formAdmin) }}
	</div>

{% endblock %}
