{% extends 'base.admin.html.twig' %}

{% block title %}
	Edition du mot de passe de 
	{{ admin}}
{% endblock %}

{% block titre %}
	Edition du mot de passe de 
	{{ admin}}<strong></strong>
{% endblock %}

{% block boutons %}
	<a href="{{ path("app_admin_roles_admin_detail", {"idAdmin": admin.id}) }}" title="Cliquez ici pour revenir en arrière" class="btn btn-outline-primary align-items-center">
		<i class="mdi mdi-reply-all"></i>
		Retour</a>
{% endblock %}

{% block body %}

	<div class="card p-3">
		{{ form(formPasswordAdmin) }}
	</div>

{% endblock %}
